<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landingstyles.css">
    <title>Happy Birthday Claire Ann</title>
</head>
<body>
    
    <div class="birthday-card">
        <!-- Inner -->
        <div class="cover-inner">
            <img src="img/inner.jpg" width="100%" height="100%">
        </div>
    
        <!-- Outer -->
        <div class="cover-outer">
            <img src="img/cover.jpg" width="100%" height="100%">
        </div>
    
        <!-- Text -->
        <div class="text">
            <p class="title">
                Happy Birthday, <br> My Love!
            </p>
            <p>
                On this special day, I want to shower you with all the love and happiness that you bring
                to my life everyday. You're laughter has always been my melody since I met you. Your smile
                has been a sunshine that keeps me going, and your presence in my life is my greatest blessing.
                <br><br>
                It might not have been a year since I met you, but I know you deserve all the joy and success that life has to offer. 
                May this year be filled with unforgettable memories and beautiful adventures. Cheers to celebrating you and the wonderful person 
                that you are. 
            </p>
            <p>Also, I collected greeting messages from some people 
                and I want you to read them. <a href="/messages">Click Here</a></p>

            <h4>With all my heart, Christian Calso</h4>
        </div>
    </div>
</body>
</html>
